<html>
  <head>
    <title>天天新闻网</title>
    <meta http-equiv="content-type" content="text/html;charset=utf-8">
    <link href="__ROOT__/public/css/news.css" type="text/css" rel="stylesheet" />
    <script type="text/javascript" src="__ROOT__/library/ckeditor/ckeditor.js"></script>
	<script type="text/javascript">
	  var editor;
	  function initEditor()
	  {
		  editor = CKEDITOR.replace("body",{
			  width:"560",
			  height:"200",
			  toolbar:"Basic",
			  skin:"v2"
		  });
		  editor.setData("");
	  }
	  function checkReview()
	  {
		  if(editor.getData() == "")
		  {
			  alert("请输入评论内容！");
			  editor.focus();
			  return false;
		  }
		  else if(document.frm.userName.value == "")
		  {
			  alert("请输入评论人的姓名！");
			  document.frm.userName.focus();
			  return false;
		  }
	  }
	  document.body.onload = initEditor;
	</script>
  </head>
  <body onload="initEditor()">
    <!-- 网站头 -->
   <include file="Public:header"/>
	
	<!-- 正文内容 -->
	<div class="mainDiv clear">
	  <!-- 显示的新闻 -->
	  <div class="newsTypeDiv" style="border:1px solid #990100;">
	    <div class="newsTypeDiv1">
	      &nbsp;<a href="__APP__/Index/index.html" class="a">新闻主页</a> &raquo; {$news.typeName}
	    </div>
	  </div>
	  <div class="newsTitle">{$news.title}</div>
	  <div class="newsTime">{$news.dateandtime}</div>
	  <if condition="$news.imagepath == ''">
		<div class="newsImg"><img src="__ROOT__/public/newspicture/54a4e89e92e3cb6aede8a11e4630003f.jpg" width="400" height="300"></div>
	  <else/>
	  <div class="newsImg"><img src="__ROOT__/public/{$news.imagepath}" width="400" height="300"></div>
	  </if>
	  <div class="newsContent">{$news.content}</div>
	  <!-- 发表评论 -->
	  <form name="frm" method="post" action="__APP__/News/reviews/articleId/{$news.articleId}" onsubmit="return checkReview()">
	  <div class="newsTypeDiv" style="border:1px solid #990100;">
	    <div class="newsTypeDiv1">&nbsp;&raquo; 发表评论</div>
	  </div>
	  <div class="newsContent">
	    <img src="__ROOT__/public/images/face/em01.gif"><input type="radio" name="face" value="em01.gif" checked>
	    <img src="__ROOT__/public/images/face/em02.gif"><input type="radio" name="face" value="em02.gif">
	    <img src="__ROOT__/public/images/face/em03.gif"><input type="radio" name="face" value="em03.gif">
	    <img src="__ROOT__/public/images/face/em04.gif"><input type="radio" name="face" value="em04.gif">
	    <img src="__ROOT__/public/images/face/em05.gif"><input type="radio" name="face" value="em05.gif">
	    <img src="__ROOT__/public/images/face/em06.gif"><input type="radio" name="face" value="em06.gif">
	    <img src="__ROOT__/public/images/face/em07.gif"><input type="radio" name="face" value="em07.gif">
	    <img src="__ROOT__/public/images/face/em08.gif"><input type="radio" name="face" value="em08.gif">
	    <img src="__ROOT__/public/images/face/em09.gif"><input type="radio" name="face" value="em09.gif">
	    <img src="__ROOT__/public/images/face/em10.gif"><input type="radio" name="face" value="em10.gif">
	    <img src="__ROOT__/public/images/face/em11.gif"><input type="radio" name="face" value="em11.gif">
	  </div>
	  <div class="newsImg"><textarea name="body"></textarea></div>
	  <div class="newsContent">
	    姓名：<input type="text" name="userName" size="20">
	    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
	    <input type="submit" value="发表">
	  </div>
	  </form>
	  <!-- 评论内容 -->
	  <div class="newsTypeDiv" style="border:1px solid #990100;">
	    <div class="newsTypeDiv1">&nbsp;&raquo; 新闻点评</div>
	  </div>

	  <div class="reviewDiv" style="background-color:#FFFBD6;">
	  <volist name="review" id="v"> 
	    <div class="reviewDiv1">
	      <img src="__ROOT__/public/images/face/em10.gif">游客：{$v.userName} 于 [{$v.dateandtime}] 发表评论：
	    </div>
	    <div class="reviewDiv1">{$v.body}</div>
	    <div class="reviewDiv1"><hr class="hr1"></div>
	  </div>
	  </volist>
	  <br>
	</div>
    
    
    <!-- 网页脚 -->
  <include file="Public:footer"/>
  </body>
</html>